<br>

  <div class="textWithBlurredBg" style="float:right;width:27%">
    <img src="assets/images/peter_climbing.jpg">
    <h1>
      I Am Adventrous
    </h1>
    <h3 style="margin:auto">
      I love being outside when I get the chance. A few of my favorite activies are
      hiking, fishing, whitewater rafting, you name it! Sometimes I even attempt to scale
      large horizantal surfaces...
    </h3>
  </div>

  <div class="textWithBlurredBg" style="float:right">
    <img src="assets/images/packers.png">
    <h2>
      I Am A Sports Fanatic
    </h2>
  </div>

  <div class="textWithBlurredBg" style="float:right;width:20%">
    <img src="assets/images/godson.jpg">
    <h2>
      I Am An Uncle
    </h2>
    <h3>
      This is one of my nephews. He's super cute.
    </h3>
  </div>

  <div class="textWithBlurredBg" style="float:right;width:27%">
    <img src="assets/images/eaux_organ.jpg">
    <h2>
      I Love Artsy Stuff
    </h2>
    <h3>
      This is an organ from the Eaux Claires Music and Arts Festival.
    </h3>
  </div>

  <div class="textWithBlurredBg" style="float:left;width:25%">
    <img src="assets/images/peter_puzzle.jpg">
    <h2>
      I Am A Problem Solver
    </h2>
    <h3>
      My success record for Escape Rooms is 85.7%. I also make websites and stuff.
    </h3>
  </div>

  <div class="textWithBlurredBg" style="float:left;width:30%">
    <img src="assets/images/bon_iver.jpg">
    <h2>
      I Go To Concerts
    </h2>
    <h3>
      This is Bon Iver. I've seen them many times.
    </h3>
  </div>

  <div class="textWithBlurredBg" style="float:left;width:30%">
    <img src="assets/images/peter_badgers.jpg">
    <h2>
      I Am A Wisconsin Badger
    </h2>
    <h3>
      I graduated in Computer Science from UW Madison.
    </h3>
  </div>
