
<br>

<div id="outer">

  <div class="w4 h3 flipH">
    <img src="assets/images/eaux_organ_4_3.png">
    <div>
      I Love Artsy Stuff
    </div>
  </div>

  <div class="w3 h4 grow">
    <img src="assets/images/godson_3_4.png">
    <div>
      This Is My Nephew
    </div>
  </div>

  <div class="w4 h6 flipV">
    <img src="assets/images/peter_climbing_4_6.png" >
    <div>
      I Am Adventurous
    </div>
  </div>

  <div class="w2 h2 flipH">
      <img src="assets/images/tryit_2_2.jpg">
      <div>
          Good Job
      </div>
  </div>

  <div class="w4 h2 blindsH">
    <img src="assets/images/computer_code_4_2.png">
    <div>
      I Program Things
    </div>
  </div>

  <div class="w3 h2 openLeft">
    <img src="assets/images/bon_iver_3_2.png">
    <div>
      I Go To Concerts
    </div>
  </div>

  <div class="w4 h3 openRight">
    <img src="assets/images/peter_fishing_4_3.png">
    <div>
      I Can Catch Fish
    </div>
  </div>

  <div class="w2 h3 flipH">
    <img src="assets/images/peter_rope_2_3.png">
    <div>
      I Am Resourceful
    </div>
  </div>

  <div class="w3 h4 blindsW">
    <img src="assets/images/peter_sleep_3_4.png">
    <div>
      I Am A Hard Worker
    </div>
  </div>

  <div class="w4 h3 flipH">
    <img src="assets/images/peter_badgers_4_3.png">
    <div>
      I Am A Wisconsin Badger
    </div>
  </div>

  <div class="w3 h3 flipH">
    <img src="assets/images/peter_guitar_4_4.png">
    <div>
      I Am A Musician
    </div>
  </div>

  <div class="w2 h2 flipV">
    <img src="assets/images/packers_2_2.jpg">
    <div>
      I Am A Packers Fan
    </div>
  </div>

  <div class="w4 h3 grow">
    <img src="assets/images/peter_puzzle_4_3.png">
    <div>
      My Escape Room Success Rate is %85.7
    </div>
  </div>

  <div class="w3 h3 blindsW">
    <img src="assets/images/peter_rome_4_4.jpg">
    <div>
      I've Travelled to Lots of Places
    </div>
  </div>

  <div class="w1 h1 filler"></div>
  <div class="w1 h1 filler2"></div>
  <div class="w1 h1 filler3"></div>
  <div class="w1 h1 filler"></div>
  <div class="w1 h1 filler"></div>
  <div class="w1 h1 filler2"></div>
  <div class="w1 h1 filler3"></div>
  <div class="w1 h1 filler"></div>
  <div class="w1 h1 filler2"></div>
  <div class="w1 h1 filler3"></div>
  <div class="w1 h1 filler"></div>
  <div class="w1 h1 filler2"></div>
  <div class="w1 h1 filler3"></div>

</div>
