div#outer{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
  grid-auto-rows: 80px, auto;
  grid-gap: 5px;
  grid-auto-flow: dense;
}

/*div#outer div {
  outline: 1px solid red;
}*/

div img {
  display: block;
  width: 100%;
  height: auto;
}

div.w1h1{
  grid-column: span 1;
  grid-row: span 1;
}

div.w2h2{
  grid-column: span 2;
  grid-row: span 2;
}

div.w2h1{
  grid-column: span 2;
  grid-row: span 1;
}

div.w3h2{
  grid-column: span 3;
  grid-row: span 2;
}

div.w2h3{
  grid-column: span 2;
  grid-row: span 3;
}

div.w3h3{
  grid-column: span 3;
  grid-row: span 3;
}

div.w3h4{
  grid-column: span 3;
  grid-row: span 4;
}

div.w4h2{
  grid-column: span 4;
  grid-row: span 2;
}

div.w4h3{
  grid-column: span 4;
  grid-row: span 3;
}

div.w4h6{
  grid-column: span 4;
  grid-row: span 6;
}



.textWithBlurredBg{
    /*width:300px;*/
    /*width: 100%;*/
    /*height:auto;*/
    /*display:inline-block;*/
    position:relative;
    transition:.3s;
    /*margin:4px;*/
    font-size: .8vw;
  }

  .textWithBlurredBg img{
    /*width:100%;*/
    /*height:100%;*/
    transition:.3s;
    border-radius:4px;
  }

  .textWithBlurredBg:hover img{
    filter:blur(2px) brightness(60%);
    box-shadow:0 0 16px cyan;
  }

  .textWithBlurredBg :not(img){
    position:absolute;
    z-index:1;
    top:30%;
    width:100%;
    text-align:center;
    color:#fff;
    opacity:0;
    transition:.3s;
  }

  .textWithBlurredBg h3 {
    top:50%
  }

  .textWithBlurredBg:hover :not(img){
    opacity:1;
  }
