
<br>

<div id="outer">

  <div class="w4h3 textWithBlurredBg">
    <img src="assets/images/eaux_organ_4_3.png">
    <h2>
      I Love Artsy Stuff
    </h2>
    <h3>
      This is an organ from the Eaux Claires Music and Arts Festival
    </h3>
  </div>

  <div class="w3h4 textWithBlurredBg">
    <img src="assets/images/godson_3_4.png">
    <h2>
      I Am An Uncle
    </h2>
    <h3>
      This is one of my nephews, he's super cute
    </h3>
  </div>

  <div class="w4h6 textWithBlurredBg">
    <img src="assets/images/peter_climbing_4_6.png" >
    <h1>
      I Am Adventrous
    </h1>
    <h3>
      I love being outside when I get the chance. Sometimes I even attempt to scale
      large horizantal surfaces...
    </h3>
  </div>

<div class="w4h2 textWithBlurredBg">
  <img src="assets/images/computer_code_4_2.png">
  <h2>
    I Program Things
  </h2>
  <h3>
    I love building projects and learning new technologies
  </h3>
</div>

<div class="w3h2 textWithBlurredBg">
  <img src="assets/images/bon_iver_3_2.png">
  <h2>
    I Go To Concerts
  </h2>
  <h3>
    This is Bon Iver. I've seen them many times
  </h3>
</div>

<div class="w4h3 textWithBlurredBg">
  <img src="assets/images/peter_fishing_4_3.png">
  <h2>
    I Can Catch Fish
  </h2>
  <h3>
    Sometimes...
  </h3>
</div>

<div class="w2h3 textWithBlurredBg">
  <img src="assets/images/peter_rope_2_3.png">
  <h2>
    I Am Resourceful
  </h2>
  <h3>
    I actually got really bad rope burn from doing this
  </h3>
</div>

<div class="w3h4 textWithBlurredBg">
  <img src="assets/images/peter_sleep_3_4.png">
  <h2>
    I Am A Hard Worker
  </h2>
  <h3>
    ...but rest is important too
  </h3>
</div>

<div class="w4h3 textWithBlurredBg">
  <img src="assets/images/peter_badgers_4_3.png">
  <h2>
    I Am A Wisconsin Badger
  </h2>
  <h3>
    I graduated in Computer Science from UW Madison
  </h3>
</div>

    <div class="w3h3 textWithBlurredBg">
      <img src="assets/images/peter_guitar_4_4.png">
      <h1>
        I Am A Musician
      </h1>
      <h3>
        I play guitar, sing, and love a good jam session
      </h3>
    </div>

<div class="w2h2 textWithBlurredBg">
  <img src="assets/images/packers_2_2.jpg">
  <h2>
    I Am A Packers Fan
  </h2>
</div>

    <div class="w4h3 textWithBlurredBg">
      <img src="assets/images/peter_puzzle_4_3.png">
      <h2>
        I Am A Problem Solver
      </h2>
      <h3>
        My success rate for Escape Rooms is 85.7%. I also make websites and stuff
      </h3>
    </div>

    <div class="w3h3 textWithBlurredBg">
      <img src="assets/images/peter_rome_4_4.jpg">
      <h2>
        I've Travelled to Lots of Places
      </h2>
      <h3>
        This is St. Peter's Square in Rome
      </h3>
    </div>

</div>
