<p>
  <mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Education
    </mat-panel-title>
    <mat-panel-description>
      How I Became "Super Smart"&trade;
    </mat-panel-description>
  </mat-expansion-panel-header>
  <h3 align="center">University of Wisconsin - Madison </h3>
  <p align="center">Bachelor of Arts, Computer Science - December 2017</p>

  <h3 align="center">Relevant Coursework</h3>
  <ul>
    <li>Data Structures</li>
    <li>Intro to Algorithms</li>
    <li>Artificial Intelligence</li>
    <li>Database Management</li>
    <li>Software Engineering</li>
    <li>Human-Computer Interaction</li>
    <li>Machine Organization</li>
  </ul>

</mat-expansion-panel>

<mat-expansion-panel>
<mat-expansion-panel-header>
  <mat-panel-title>
    Experience
  </mat-panel-title>
  <mat-panel-description>
    Places I Have Worked At
  </mat-panel-description>
</mat-expansion-panel-header>

<h3 align="center">UW DoIT</h3>
<h3 align="center">Target</h3>

</mat-expansion-panel>

</p>
