<br>

<div style="text-align:center">
<mat-accordion>
<mat-expansion-panel>
<mat-expansion-panel-header>
  <mat-panel-title>
    Technical Skills
  </mat-panel-title>
  <mat-panel-description>
    A Few Things I've Learned
  </mat-panel-description>
</mat-expansion-panel-header>
<h2>Languages and Frameworks</h2>
<ul>
  <li>Java/JavaScript</li>
  <li>Angular</li>
  <li>Ruby on Rails</li>
  <li>C/C++</li>
  <li>SQL</li>
  <li>HTML</li>
  <li>CSS</li>
</ul>
<h2>Tools</h2>
<ul>
  <li>Command Line Linux (Bash)</li>
  <li>Git/Github Version Control</li>
  <li>mySQL, PostgreSQL</li>
  <li>Heroku Cloud Platform</li>
  <li>Learning Management Systems (Canvas, D2L)</li>
</ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Projects
    </mat-panel-title>
    <mat-panel-description>
      Some Things I've Made
    </mat-panel-description>
  </mat-expansion-panel-header>
  <h2>BadgerNet</h2>
  <ul>
  <li>
    Collaborated extensively with five other students using Ruby on Rails (full stack development) to create a
    website communication platform for coaches and athletes
  </li>
  <br>
  <li>
    Developed database tables, home page, documents handling feature, and contacts page
  </li>
  <br>
  <li>
    Met regularly with client to identify feature requirements and tailor design elements
  </li>
</ul>
  <h2>Neural Network</h2>
  <ul>
  <li>
    Created multi-layer, feed-forward neural network using back-propagation algorithm to recognize images of
    handwritten digits
  </li>
  <br>
  <li>
    Composed report detailing accuracy of network, noting particularly difficult cases
  </li>
</ul>
<h2>Naïve Bayes Classifier</h2>
<ul>
<li>
  Implemented essential methods of a probabilistic classifier to determine whether or not cells were
  cancerous
</li>
<br>
<li>
  Utilized a large, multi-attribute table as training data
</li>
</ul>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Experience
    </mat-panel-title>
    <mat-panel-description>
      Some Places I Have Worked At
    </mat-panel-description>
  </mat-expansion-panel-header>
  <h2>UW Division of Information Technology</h2>
  <ul>
  <li>
    Coordinated with technology team to administer two learning management systems for the University and
    assisted dozens of teachers and students with various technical issues each day
  </li>
  <br>
  <li>
    Conducted special projects to evaluate options and accelerate the University's transition between learning
    management systems, such as writing technical training and troubleshooting documents
  </li>
  <br>
  <li>
    Analyzed multiple datasets to increase efficiency and provide insight to management, including identifying
    trends of user difficulties with new software
  </li>
</ul>
  <h2>Target</h2>
  <ul>
  <li>
    Provided positive customer service and effectively addressed complaints and inquiries
  </li>
  <br>
  <li>
    Managed front-end operations independently during manager’s absence to ensure successful team
    coordination, smooth operations, and customer satisfaction
  </li>
</ul>
</mat-expansion-panel>

<mat-expansion-panel>
<mat-expansion-panel-header>
  <mat-panel-title>
    Education
  </mat-panel-title>
  <mat-panel-description>
    How I Became "Super Smart"&trade;
  </mat-panel-description>
</mat-expansion-panel-header>
<h2>University of Wisconsin - Madison </h2>
<p>Bachelor of Arts, Computer Science - December 2017</p>
<h2>Relevant Coursework</h2>
<ul>
  <li>Data Structures</li>
  <li>Intro to Algorithms</li>
  <li>Artificial Intelligence</li>
  <li>Database Management</li>
  <li>Software Engineering</li>
  <li>Human-Computer Interaction</li>
  <li>Machine Organization</li>
</ul>
</mat-expansion-panel>
</mat-accordion>

</div>
