<br>
<div class="body">
  <mat-card class="card">
    <mat-card-title class="title">Hello,</mat-card-title>
    <mat-card-content class="content">
      <p>My name is Peter. I'm recent CS graduate and aspiring software developer based in
      Madison, Wisconsin. This is my website. I developed it as a means to
      learn Angular and web design principles. It is currently hosted on AWS.
      I'm going to continue experimenting with it and adding features, so
      check back for new things soon!</p>

      <p>Have a look around!</p>
    </mat-card-content>
  </mat-card>

  <div class="footer">
    <p>longspeak917@gmail.com -
    <a target="_blank" href="https://github.com/pfcarey917">My GitHub</a>
    </p>
  </div>
